body{
    margin: 0;
}
img{
    width: 100%;
}

ul{
    list-style: none;
}

.navbar{
    background-color: black;
    color: white;
    padding: 5px 0;
}

.navbar--links{
    display: flex;
    gap: 15px;
}

.navbar--link{
    text-decoration: none;
    color: white;
}

.navbar--link__cta{
    text-decoration: none;
    color: black;
    background-color: aqua;
}

main{
    display: grid;
    /* grid-template-columns: repeat(4,1fr); */
    row-gap: 20px;
    padding: 20px;
}

main article{
    background-color: #e5e5e5;
    padding: 4px;
}

/* Mobile-first */
@media screen and (min-width: 768px) {
    main{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

@media screen and (min-width: 1024px) {
    main{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
}

/* Desktop-first */
/* @media screen and (max-width: 768px) {
    main{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

@media screen and (max-width: 390px) {
    main{
        grid-template-columns: 1fr;
        gap: 20px;
    }
} */