body{
    background-color: rgb(243, 243, 243);
    background: #780206;  /* fallback for old browsers */
    /* background: -moz-linear-gradient();
    background: -webkit-linear-gradient(to right, #061161, #780206);  Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(120deg, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container{

}

.container--title , .container--descrip{
    text-align: center;
}

.planes{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
    width: 60%;
    /* Centrar elementos con un width que no es 100% */
    margin: 0 auto;
}

.plan{
    background-color: white;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 5px;
    padding: 10px;
}

.plan--button{
    background-color: black;
    padding: 10px 5px;
    border-radius: 30px;
    color: white;
    width: 100%;
}