<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="form">
        <input type="text" name="nombre" placeholder="Nombre...">
        <input type="text" name="apellido" placeholder="Apellido...">
        <button>Enviar</button>
    </form>

    <input type="checkbox" id="">
    <button id="click">Click</button>

    <script type="module" src="./registro.js"></script>

</body>
</html>