@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;400;900&display=swap');

body{
    margin: 0;
}

/* *{
    margin: 0;
    padding: 0;
} */

.text{
    /* background-image: url("../../assets/images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    
    background-image: linear-gradient(to left top , #C6FFDD,#FBD786,#f7797d);
    background-image: radial-gradient(#C6FFDD,#FBD786,#f7797d);

    /* background-color: #C6FFDD; */

    /* font-family: 'Chivo Mono', monospace;
    font-weight: 900;
    font-size: 32px;
    font-style: italic; */
    font: italic 900 32px 'Chivo Mono', monospace;
    letter-spacing: 10px;
    line-height: 100px;
    word-spacing: 20px;

    /* margin: 30px; */
    /* margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-right: 100px; */
    /* margin: 30px 100px 30px 50px; */
    margin: 100px 0;
    /* padding: 30px; */
    padding: 30px 100px 30px 50px;

}

.text2{
    background: #C6FFDD;
    width: 150px;
    height: 150px;
    padding: 10px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.text3{
    background: #FBD786;
    width: 100px;
    height: 100px;
    padding: 10px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

form{
    background-color: aliceblue;
    padding: 100px;
}