body{
    margin: 0;
    color: white;
}

aside{
    background-color: black;
    width: 20%;
    float: left;
    /* 100vh es el 100% de la pantalla */
    height: 100vh;
    
}

a{
    text-decoration: none;
    color: white;
}

main{
    width: 80%;
    background-color: #121212;
    float: left;
}

#songs{
    padding: 15px;
}

article{
    background-color: #181818;
    width: 12.5%;
    padding: 3px;
    float: left;
    margin: 0 5px;
    box-sizing: border-box;
}

img{
    width: 100%;
}